body {
    background-color: rgb(247, 247, 247);
    color: rgb(82, 82, 82);
    font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {

    font-size: 24px;
}

h2 {

    font-size: 18px;
}

h3 {

    font-size: 14px;
}

/**
 Spotlight opens at top ~22% at the upper bound
 */

div#ytilsYupputOuterContainer {

    position: absolute;
    top: 22%;
}

div#ytilsYupputInputContainer {

}